In [3]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    "Column1": ["Name", "Address", "Telephone Number", "Email", "SKU", "Code", "Swatch"],
    "Column2": ["A","B", "C","D", "E","F","G"],
    "Column3": ["SKU","Email", "Address Book", "Name", "Telephone Number", "Code","NaN"]
})

In [10]:
df

            Column1 Column2           Column3
0              Name       A               SKU
1           Address       B             Email
2  Telephone Number       C      Address Book
3             Email       D              Name
4               SKU       E  Telephone Number
5              Code       F              Code
6            Swatch       G               NaN

In [11]:
#create column4 
# mapp column1 and column3
# map index to column4

In [16]:
Column1 = df.groupby("Column1")

In [17]:
type(Column1)

pandas.core.groupby.DataFrameGroupBy

In [18]:
Column1.get_group("SKU")

  Column1 Column2           Column3
4     SKU       E  Telephone Number

In [71]:
df = pd.DataFrame({
    "Column1": ["Name", "Address", "Telephone Number", "Email", "SKU", "Code", "Swatch"],
    "Column2": ["A","B", "C","D", "E","F","G"],
    "Column3": ["SKU","Email", "Address Book", "Name", "Telephone Number", "Code","NaN"]
})
df

            Column1 Column2           Column3
0              Name       A               SKU
1           Address       B             Email
2  Telephone Number       C      Address Book
3             Email       D              Name
4               SKU       E  Telephone Number
5              Code       F              Code
6            Swatch       G               NaN

In [83]:
def process(val):
    pos= list(df['Column1']).index(val)
    if val in df['Column3'].values:
        mapping_val = list(df['Column2'])[pos]
        map_index = list(df['Column3']).index(val)
        df['Column4'][map_index] = mapping_val
    else:
        df['Column4'][pos] = ''
        
         

df['Column1'].apply(process)
print (df)
df.to_csv('res.csv', index=False)

            Column1 Column2           Column3 Column4
0              Name       A               SKU       E
1           Address       B             Email       D
2  Telephone Number       C      Address Book
3             Email       D              Name       A
4               SKU       E  Telephone Number       C
5              Code       F              Code       F
6            Swatch       G               NaN