In [23]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('catalog_product_20170526_112122.csv')
df.head()

C:\Users\prapradhan\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2683: DtypeWarning: Columns (9,11,12,15,23,25,26,27,32,35,40,42,50,56,57,59,61,62,64,66,70,97,99,101,103,106,107,115,128,130) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sku,_store,_attribute_set,_type,_category,_root_category,_product_websites,amconf_simple_price,amount,aquiess_scents,...,_custom_option_max_characters,_custom_option_sort_order,_custom_option_row_title,_custom_option_row_price,_custom_option_row_sku,_custom_option_row_sort,_super_products_sku,_super_attribute_code,_super_attribute_option,_super_attribute_price_corr
0,67575,NaN,Products_Color,simple,NaN,Default Category,base,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Gifts,Default Category,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Gifts/Our Best Gift Picks/For Kids,Default Category,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Gifts/Our Best Gift Picks/For Kids/Apparel & A...,Default Category,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,67576,NaN,Products_Color,simple,NaN,Default Category,base,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['sku', '_store', '_attribute_set', '_type', '_category',
       '_root_category', '_product_websites', 'amconf_simple_price', 'amount',
       'aquiess_scents',
       ...
       '_custom_option_max_characters', '_custom_option_sort_order',
       '_custom_option_row_title', '_custom_option_row_price',
       '_custom_option_row_sku', '_custom_option_row_sort',
       '_super_products_sku', '_super_attribute_code',
       '_super_attribute_option', '_super_attribute_price_corr'],
      dtype='object', length=134)

In [5]:
global test
test = {}

def uniq(ser_val):
    test[ser_val.name] = ser_val.dropna().unique()
    


df.apply(uniq)

# print (test.values())

pd.DataFrame(dict([ (k,pd.Series(test[k])) for k in test.keys() ])).to_csv('unique-col-val.csv', index=False)

In [6]:
df["_type"].unique()

array(['simple', nan, 'configurable', 'grouped'], dtype=object)

In [7]:
df3 = pd.DataFrame()
df3['color'] = df["color"].dropna().unique()
df3.to_csv('Color.csv', index = False)

In [8]:
df1 = pd.DataFrame()
df1['size'] = df['size'].dropna().unique()

In [9]:
df1['size'].count()

126

In [10]:
df1.to_csv('size.csv', index=False)

In [11]:
df = pd.read_csv('catalog_product_20170526_112122.csv')
df.head(3)

C:\Users\prapradhan\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2683: DtypeWarning: Columns (9,11,12,15,23,25,26,27,32,35,40,42,50,56,57,59,61,62,64,66,70,97,99,101,103,106,107,115,128,130) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sku,_store,_attribute_set,_type,_category,_root_category,_product_websites,amconf_simple_price,amount,aquiess_scents,...,_custom_option_max_characters,_custom_option_sort_order,_custom_option_row_title,_custom_option_row_price,_custom_option_row_sku,_custom_option_row_sort,_super_products_sku,_super_attribute_code,_super_attribute_option,_super_attribute_price_corr
0,67575,NaN,Products_Color,simple,NaN,Default Category,base,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Gifts,Default Category,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Gifts/Our Best Gift Picks/For Kids,Default Category,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
a = df.columns[df.isnull().all()]

In [13]:
df2 = pd.DataFrame()

In [14]:
df2['emptycols']= a

In [15]:
df2.to_csv("empty.csv", index = False)

In [22]:
df = pd.read_csv('catalog_product_20170526_112122.csv')
df.head()

C:\Users\prapradhan\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2683: DtypeWarning: Columns (9,11,12,15,23,25,26,27,32,35,40,42,50,56,57,59,61,62,64,66,70,97,99,101,103,106,107,115,128,130) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sku,_store,_attribute_set,_type,_category,_root_category,_product_websites,amconf_simple_price,amount,aquiess_scents,...,_custom_option_max_characters,_custom_option_sort_order,_custom_option_row_title,_custom_option_row_price,_custom_option_row_sku,_custom_option_row_sort,_super_products_sku,_super_attribute_code,_super_attribute_option,_super_attribute_price_corr
0,67575,NaN,Products_Color,simple,NaN,Default Category,base,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Gifts,Default Category,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Gifts/Our Best Gift Picks/For Kids,Default Category,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Gifts/Our Best Gift Picks/For Kids/Apparel & A...,Default Category,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,67576,NaN,Products_Color,simple,NaN,Default Category,base,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.columns[df.isnull().all()]

Index(['_store', 'bar_soap', 'cost', 'custom_design', 'custom_design_from',
       'custom_design_to', 'custom_layout_update', 'giftcard1', 'glass',
       'manufacturer', 'media_gallery', 'minimal_price', 'msrp', 'pattern',
       'product', '_group_price_website', '_group_price_customer_group',
       '_group_price_price'],
      dtype='object')

In [37]:

df = pd.DataFrame({
    'Id': [1, 2, 3],
    'Age': [23, 34, 56],
    'Name': [np.NaN, "Ram", np.NaN ]
})

In [38]:
df

   Age  Id Name
0   23   1  NaN
1   34   2  Ram
2   56   3  NaN

In [39]:
a = df.index[df.isnull().any()]

In [40]:
a.value_counts()

2    1
dtype: int64

In [42]:
a.values

array([2], dtype=int64)