In [1]:
import pandas as pd
import datetime as dt

# Review of Python's datatime Module

In [2]:
sd = dt.date(1991, 7, 30)

In [3]:
sd.year

1991

In [4]:
sd.month

7

In [5]:
str(sd)

'1991-07-30'

In [6]:
sd.day

30

In [7]:
str(dt.datetime(1991, 7, 30, 13, 34))

'1991-07-30 13:34:00'

In [8]:
st = dt.datetime(1991, 7, 30, 13, 34)

In [9]:
st.year

1991

In [10]:
st.second

0

In [11]:
st.month

7

# The pandas Timestamp Object

In [12]:
pd.Timestamp("2015-03-21")
pd.Timestamp("19/12/2015")
pd.Timestamp("2012-12-23 4:45:34")
pd.Timestamp("2012-2-23, 6:00:00PM")

Timestamp('2012-02-23 18:00:00')

In [13]:
pd.Timestamp(dt.datetime(2000, 3, 2, 14, 12, 22))

Timestamp('2000-03-02 14:12:22')

In [14]:
pd.Timestamp(dt.date(2000, 3, 2))

Timestamp('2000-03-02 00:00:00')

# The pandas DataTimeIndex Object

In [15]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [16]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 14), dt.date(2003, 12,  29)]
dtIndex = pd.DatetimeIndex(dates)

In [17]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-14    200
2003-12-29    300
dtype: int64

# The pd.to_datetime() Method

In [18]:
pd.to_datetime("2001-04-19")
pd.to_datetime("2001/12/12")
pd.to_datetime(dt.date(2014, 1, 1))
pd.to_datetime(dt.datetime(2015,1,1,1,1,1,1))
pd.to_datetime(["2012-12-1","2024/4/2", "2019", "July 30th, 1991"])

DatetimeIndex(['2012-12-01', '2024-04-02', '2019-01-01', '1991-07-30'], dtype='datetime64[ns]', freq=None)

In [19]:
times = pd.Series(["2012-12-1","2024/4/2", "2019", "July 30th, 1991"])
times

0          2012-12-1
1           2024/4/2
2               2019
3    July 30th, 1991
dtype: object

In [20]:
pd.to_datetime(times)

0   2012-12-01
1   2024-04-02
2   2019-01-01
3   1991-07-30
dtype: datetime64[ns]

In [21]:
dates = pd.Series(["July 1st, 1991", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 1st, 1991
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [22]:
pd.to_datetime(dates, errors = "coerce")

0   1991-07-01
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [23]:
pd.to_datetime([1498642927, 1543716243], unit = "s")

DatetimeIndex(['2017-06-28 09:42:07', '2018-12-02 02:04:03'], dtype='datetime64[ns]', freq=None)

In [24]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [25]:
type(times)

pandas.tseries.index.DatetimeIndex

In [26]:
type(times[0])

pandas.tslib.Timestamp

In [27]:
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15'],
              dtype='datetime64[ns]', freq='B')

# create Range of Dates with the pd.date_range() Method, Part1

In [28]:
times = pd.date_range(start = "2017-07-01", end ="2017-07-10", freq ="D" )

In [29]:
type(times)

pandas.tseries.index.DatetimeIndex

In [30]:
type(times[1])

pandas.tslib.Timestamp

In [31]:
pd.date_range(start = "2017-07-01", end ="2017-07-31", freq ="W-SAT" )

DatetimeIndex(['2017-07-01', '2017-07-08', '2017-07-15', '2017-07-22',
               '2017-07-29'],
              dtype='datetime64[ns]', freq='W-SAT')

In [32]:
pd.date_range(start = "2017-07-01", end ="2030-07-31", freq ="A" )

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the pd.date_range() Method, Part 2

In [33]:
len(pd.date_range(start = "2012-02-19", periods= 25, freq="W"))

25

In [34]:
pd.date_range(start = "2017-07-1", periods= 25, freq="H")

DatetimeIndex(['2017-07-01 00:00:00', '2017-07-01 01:00:00',
               '2017-07-01 02:00:00', '2017-07-01 03:00:00',
               '2017-07-01 04:00:00', '2017-07-01 05:00:00',
               '2017-07-01 06:00:00', '2017-07-01 07:00:00',
               '2017-07-01 08:00:00', '2017-07-01 09:00:00',
               '2017-07-01 10:00:00', '2017-07-01 11:00:00',
               '2017-07-01 12:00:00', '2017-07-01 13:00:00',
               '2017-07-01 14:00:00', '2017-07-01 15:00:00',
               '2017-07-01 16:00:00', '2017-07-01 17:00:00',
               '2017-07-01 18:00:00', '2017-07-01 19:00:00',
               '2017-07-01 20:00:00', '2017-07-01 21:00:00',
               '2017-07-01 22:00:00', '2017-07-01 23:00:00',
               '2017-07-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

# The .dt Accessor

In [35]:
bunch_of_dates = pd.date_range(start="2017-07-01", end="2020-12-21", freq = "24D")

In [36]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2017-07-01
1   2017-07-25
2   2017-08-18
dtype: datetime64[ns]

In [37]:
s.dt.day

0      1
1     25
2     18
3     11
4      5
5     29
6     22
7     16
8      9
9      2
10    26
11    22
12    15
13     9
14     2
15    26
16    20
17    13
18     6
19    30
20    24
21    17
22    11
23     4
24    28
25    21
26    17
27    10
28     4
29    28
30    21
31    15
32     8
33     1
34    25
35    19
36    12
37     6
38    30
39    23
40    16
41    11
42     4
43    28
44    22
45    15
46     9
47     2
48    26
49    19
50    13
51     6
52    30
dtype: int64

# Import Financial Data Set with pandas_datareader Library

In [45]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [52]:
company = "MSFT"
start = "2017-01-01"
end = "2020-01-01"
stocks = data.DataReader(name = company, data_source = "google", start = start, end = end)
stocks.head(2)

             Open   High    Low  Close    Volume
Date
2017-01-03  62.79  62.84  62.12  62.58  20694101
2017-01-04  62.48  62.75  62.12  62.30  21339969

In [56]:
stocks.values
stocks.columns
stocks.index[1]

Timestamp('2017-01-04 00:00:00')